.leftComp{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.innerContainer{
    height: 100%;
    width: 100%;
    overflow: auto;
}

.dataContainer{
    height: 400px;
    width: 350px;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 0 10px black;
}

.dataContainer img{
    height: 55%;
    width: 100%;
    
}